<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
    <ion-back-button defaultHref="/" color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title>Quienes Somos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>

  <ion-item href="0">
    <ion-label>Contexto</ion-label>
  </ion-item>

  <ion-card-content>
    <p class="parrafo" style="color: white">
      Debido a la pandemia se ha creado una ventana en el que la gente a 
      podido estudiar gracias a la remotidad, pero con las vueltas de las clases 
      presenciales, 
      muchas de esas “comodidades” se han vuelto un problema. Esto principalmente 
      para aquellos con clases vespertinas que no tienen manera de volver a sus 
      hogares de manera segura debido a las altas tarifas por parte de los servicios 
      de transporte particulares y la falta de transporte público. Como respuesta y 
      ayuda a aquellos estudiantes que se encuentran en esta situación hemos creado 
      la aplicación para móviles TeLlevoAPP.
    </p>
  </ion-card-content>
</ion-card>



  <img src="assets/duocMaipu.png" class="ion-padding">


<ion-card>
  <ion-card-content>
    <p class="parrafo" style="color: white">
      En TeLlevoAPP los alumnos que poseen transporte propio podrán mostrar su disponibilidad para 
      llevar a aquellos que no lo posean por el precio que ellos definan.
      Para el caso de aquellos que dan transporte, luego de ingresar, con su cuenta enlazada a
       un correo y rut, podrán elegir la opción correspondiente al transporte, ingresar los 
       datos de su automóvil, elegir el destino junto a la tarifa de viaje para al final mostrar 
       la disponibilidad del transporte.
    </p>
  </ion-card-content>
</ion-card>


  <img src="assets/taxi.jpg" class="ion-padding">

  <ion-card>
    <ion-card-content>
      <p class="parrafo" style="color: white">
        Para los estudiantes que busquen transporte, luego de ingresar, con su cuenta 
        enlazada a un correo y rut, podrán elegir la opción correspondiente al pasajero, 
        optar por la opción más conveniente para llegar a su destino entre las que tiene 
        en pantalla, marcar el viaje y realizar el pago con tarjeta o ir hacia el transporte
         y pagar directamente con efectivo.
        Con esto la comunidad de Duoc busca fomentar el compañerismo entre estudiantes de 
        la institución además de entregarles un método más cómodo y seguro para la vuelta a 
        sus hogares tras ir presencialmente las clases.
      </p>
    </ion-card-content>
  </ion-card>

</ion-content>
